<!-- <header><h1>Popular and trending movies App</h1></header> -->
<nav>
    <div class="nav-wrapper black">
      <a  class="brand-logo">NerdFlix</a>
      <ul id="nav-wrapper container" class="right hide-on-med-and-down">
        
        <li><a routerLink="/home" routerLinkActive="active">Popular</a></li>
        <li><a routerLink="/trending" routerLinkActive="active">Trending</a></li>
        <!-- <li><a *ngIf="data" (click)="clean()">Vaciar Página</a></li> -->
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
<!-- <footer>yo soy tu foooter!</footer> -->
